h1 {
    text-align: center;
    font-size: 2rem;

}
h1+p {
    text-align: center;
    margin: 50px 0;
}
#app {
    max-width: 1190px;
    margin: 0 auto;
    overflow: hidden;
}
#app > ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;    
}
#app li {
    text-align: center;
    border: 1px solid #eee;
    box-sizing: border-box;
}
#app li img {
    max-width: 100%;
}
.sale-pct::before {
    content:'';
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #333;
    margin: 0 15px;
}
figcaption, p {
    margin: 1rem 0;
}