h1 {
    text-align: center;
    font-size: 2rem;

}
h1+p {
    text-align: center;
    margin: 50px 0;
}
#app {
    max-width: 1190px;
    margin: 0 auto;
}
#app > ul {
    display: flex;
    justify-content: space-between;
}
#app li {
    text-align: center;
    border: 1px solid #eee;
    box-sizing: border-box;
}
.sale-pct::before {
    content:'';
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #333;
    margin: 0 15px;
}