<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue todo-app</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="css/todo.css">
</head>
<body>
    <h1>vue.js Todo-App</h1>
    <h2>오늘 뭐하지?</h2>

    <div class="container">
        <div id="app">
            <h3>todo list</h3>
            <div class="forms">
                <input type="text" v-model:value="inputTodo" required placeholder="할일을 적어보세요" v-on:keyUp.enter="addTodo"><button v-on:click="addTodo">추가</button>
            </div>
            <p v-if="seen" class="warning">할일을 적어주세요, 비어있어요!</p>
            <ul v-else id="todo-list">
                <li v-for="(todo,index) in todos" v-bind:key="todo.text">{{ todo.text }} <span class="trash" v-on:click="removeTodo(index)"><i class="far fa-trash-alt"></i></span></li>
            </ul>
            <hr>
            <div class="btns">
                <button v-on:clck="emptyTodo">비우기</button>
            </div>
        </div>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                inputTodo: '',
                seen: true,
                todos: []
            },
            methods: {
                emptyTodo: function(){
                    // this.todos.splice(0, this.todos.length-1);
                    var choice = confirm("전체삭제하면 복구가 불가능합니다. \n 전체삭제 하시겠습니까?");
                    console.log(choice);
                },
                addTodo: function(){
                    if(!this.inputTodo.length==0) {
                        this.todos.push({text: this.inputTodo});
                        this.clearInput();
                    }
                    this.seen = false;
                },
                clearInput: function() {
                    this.inputTodo = '';
                },
                removeTodo: function(index) {
                    this.todos.splice(index, 1)
                    console.log(this.todos.length);
                }                
            }
        })
    </script>
</body>
</html>